/* #root {
  color: #3b5bdb;
} */

/* Apply font to the entire application */
:root {
  font-family: "Poppins", sans-serif;
}

.heading,
body {
  text-align: center;
}

.parent {
  border: 1px solid black;
  padding: 5px;
}

.reactElement {
  border: 1px solid black;
  padding: 20px;
}
